@use '../partials/functions';

@mixin ItemAnimation01() {
  opacity: 0;
  transition: all .4s ease-in-out;
  transition-delay: 1s;
  transform: translateY(convertPXtoVW(2));
  
  .swiper-slide-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin ItemAnimation02() {
  opacity: 0;
  transition: all .4s ease-in-out;
  transition-delay: 1.5s;
  transform: translateY(convertPXtoVW(2));
  
  .swiper-slide-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin ItemAnimation03() {
  opacity: 0;
  transition: all .4s ease-in-out;
  transition-delay: 2s;
  transform: translateY(convertPXtoVW(2));
  
  .swiper-slide-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

.mv {
  padding: 0 minVWandPX(50);
  background: url("../img/mv-bg.png") center center no-repeat;
  background-size: cover;
  
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
  }
  
  .swiper {
    overflow: visible;
    
    .slider-item {
      min-height: minVWandPX(680);
    }
  }
  
  &-primary {
    margin: auto 0;
    position: relative;
    
    &__inner {
      padding: minVWandPX(65) 0 minVWandPX(72);
    }
    
    &-content {
      width: fit-content;
      margin-bottom: minVWandPX(32);
      display: flex;
      flex-flow: column;
      align-items: center;
      @include ItemAnimation01();
      
      &__fukidashi {
        margin-bottom: minVWandPX(40);
        width: minVWandPX(445);
        height: minVWandPX(62);
        background: #fff179;
        border-radius: minVWandPX(999);
        font-size: minVWandPX(30);
        font-weight: 900;
        letter-spacing: .05em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-right: minVWandPX(9) solid transparent;
          border-left: minVWandPX(9) solid transparent;
          border-top: minVWandPX(20) solid #fff179;
          border-bottom: 0;
          position: absolute;
          bottom: minVWandPX(1);
          left: 50%;
          transform: translate(-50%, 100%);
        }
      }
      
      &__title {
        color: #fff;
        font-size: minVWandPX(60);
        font-weight: 700;
        letter-spacing: .05em;
        line-height: 1.4;
        
        b {
          font-size: minVWandPX(121);
          letter-spacing: 0;
          line-height: 1;
        }
      }
      
      &__text {
        color: #fff;
        font-size: minVWandPX(42);
        letter-spacing: 0;
        font-weight: 700;
      }
    }
    
    &__list {
      margin-left: minVWandPX(-30);
      display: flex;
      flex-flow: row wrap;
      
      li {
        margin-left: minVWandPX(-20);
        height: minVWandPX(133);
        background: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        
        &:nth-of-type(1) {
          width: minVWandPX(439);
          background: url("../img/mv-primary_list_bg01.png") center center no-repeat;
          background-size: contain;
          @include ItemAnimation02();
          
          .inner {
            padding-left: minVWandPX(30);
          }
        }
        
        &:nth-of-type(2) {
          width: minVWandPX(390);
          background: url("../img/mv-primary_list_bg02.png") center center no-repeat;
          background-size: contain;
          @include ItemAnimation03();
          
          .inner {
            padding-left: minVWandPX(0);
          }
        }
        
        p {
          color: #00207d;
          font-size: minVWandPX(32);
          font-weight: 900;
          line-height: 1.25;
          letter-spacing: .05em;
          position: relative;
          z-index: 1;
          
          span {
            position: relative;
            
            &::before {
              content: "";
              display: block;
              width: 100%;
              height: minVWandPX(13);
              background: #fff179;
              position: absolute;
              bottom: minVWandPX(2);
              left: 50%;
              transform: translate(-50%, 0);
              z-index: -1;
            }
          }
          
          b {
            font-size: minVWandPX(44);
            
            &.is-fz-lg {
              font-size: minVWandPX(54);
              margin-right: minVWandPX(4);
              font-weight: 700;
              letter-spacing: -.05em;
              line-height: 1;
            }
          }
        }
      }
    }
    
    &__image {
      margin-right: minVWandPX(-80);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      
      img {
        width: minVWandPX(642);
      }
    }
  }
  
  &-secondary {
    margin: auto 0;
    position: relative;
    
    &__inner {
      padding: minVWandPX(65) 0 minVWandPX(72);
    }
    
    &-content {
      width: fit-content;
      margin-bottom: minVWandPX(53);
      display: flex;
      flex-flow: column;
      align-items: center;
      @include ItemAnimation01();
      
      &__fukidashi {
        margin-bottom: minVWandPX(40);
        width: minVWandPX(445);
        height: minVWandPX(62);
        background: #fff179;
        border-radius: minVWandPX(999);
        font-size: minVWandPX(30);
        font-weight: 900;
        letter-spacing: .05em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-right: minVWandPX(9) solid transparent;
          border-left: minVWandPX(9) solid transparent;
          border-top: minVWandPX(20) solid #fff179;
          border-bottom: 0;
          position: absolute;
          bottom: minVWandPX(1);
          left: 50%;
          transform: translate(-50%, 100%);
        }
      }
      
      &__title {
        color: #fff;
        font-size: minVWandPX(42);
        font-weight: 700;
        letter-spacing: .04em;
        line-height: 1.4;
        text-align: center;
        
        b {
          font-size: minVWandPX(100);
          letter-spacing: .04em;
          line-height: 1;
          
          span {
            font-size: minVWandPX(80);
          }
        }
        
        > span {
          font-size: minVWandPX(60);
          letter-spacing: -.06em;
        }
      }
      
      &__text {
        color: #fff;
        font-size: minVWandPX(42);
        letter-spacing: 0;
        font-weight: 700;
      }
    }
    
    &__list {
      display: flex;
      flex-flow: row wrap;
      
      li {
        height: minVWandPX(133);
        background: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        
        &:nth-of-type(1) {
          width: minVWandPX(390);
          background: url("../img/mv-primary_list_bg02.png") center center no-repeat;
          background-size: contain;
          @include ItemAnimation02();
          
          .inner {
            padding-left: minVWandPX(20);
          }
        }
        
        &:nth-of-type(2) {
          margin-left: minVWandPX(-20);
          width: minVWandPX(439);
          background: url("../img/mv-primary_list_bg01.png") center center no-repeat;
          background-size: contain;
          @include ItemAnimation03();
          
          .inner {
            padding-left: minVWandPX(0);
          }
        }
        
        .label {
          display: block;
          width: minVWandPX(132);
          height: minVWandPX(26);
          color: #fff;
          font-size: minVWandPX(19);
          font-weight: 700;
          letter-spacing: .05em;
          text-align: center;
          background: #00207d;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0, -100%);
          
          &::before {
            border-color: transparent transparent transparent #00207d;
            border-style: solid;
            border-width: minVWandPX(26) 0 0 minVWandPX(10);
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            right: 0;
            transform: translateX(100%);
            width: 0;
          }
        }
        
        p {
          color: #00207d;
          font-size: minVWandPX(32);
          font-weight: 900;
          line-height: 1.25;
          letter-spacing: .05em;
          position: relative;
          z-index: 1;
          
          span {
            position: relative;
            
            &::before {
              content: "";
              display: block;
              width: 100%;
              height: minVWandPX(13);
              background: #fff179;
              position: absolute;
              bottom: minVWandPX(2);
              left: 50%;
              transform: translate(-50%, 0);
              z-index: -1;
            }
          }
          
          b {
            font-size: minVWandPX(44);
            
            &.is-fz-lg {
              font-size: minVWandPX(54);
              margin-right: minVWandPX(4);
              font-weight: 700;
              letter-spacing: -.05em;
              line-height: 1;
            }
          }
        }
      }
    }
    
    &__image {
      width: minVWandPX(564);
      margin-right: minVWandPX(6);
      position: absolute;
      top: minVWandPX(100);
      right: minVWandPX(-40);
      z-index: -1;
    }
  }
  
  &-tertiary {
    margin: auto 0;
    
    &__inner {
      padding: minVWandPX(65) 0 minVWandPX(72);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 0 minVWandPX(54);
    }
    
    &__image {
      max-width: calc(100% - #{minVWandPX(600)} - #{minVWandPX(54)});
      @include ItemAnimation01();
    }
    
    &-content {
      max-width: minVWandPX(600);
      display: flex;
      flex-flow: column;
      align-items: center;
      color: #fff;
      font-weight: 700;
      
      &__group {
        @include ItemAnimation02();
      }
      
      &__lead {
        font-size: minVWandPX(60);
        letter-spacing: .04em;
        text-align: center;
        line-height: 1;
      }
      
      &__wrapper {
        margin-top: minVWandPX(-14);
        display: flex;
        flex-flow: row;
        align-items: center;
        line-height: 1;
      }
      
      &__title {
        p {
          white-space: nowrap;
          text-align: center;
          line-height: 1;
          
          &:nth-of-type(1) {
            font-size: minVWandPX(55);
            letter-spacing: .04em;
            
            b {
              font-size: minVWandPX(110);
              letter-spacing: -.1em;
            }
          }
          
          &:nth-of-type(2) {
            font-size: minVWandPX(44);
            letter-spacing: 0;
          }
        }
      }
      
      &__text {
        font-size: minVWandPX(184);
        letter-spacing: -.09em;
      }
      
      &__description {
        margin-bottom: minVWandPX(42);
        font-size: minVWandPX(21);
        letter-spacing: 0;
        line-height: 1;
        text-align: center;
      }
      
      &__logo {
        max-width: minVWandPX(600);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .mv {
    padding: 0;
    
    &-primary {
      margin: 0;
      
      &__inner {
        padding: convertPXtoVW(54) 0 convertPXtoVW(46);
      }
      
      &-content {
        margin: 0 auto convertPXtoVW(73);
        
        &__fukidashi {
          margin-bottom: convertPXtoVW(35);
          width: convertPXtoVW(444);
          height: convertPXtoVW(62);
          border-radius: convertPXtoVW(999);
          font-size: convertPXtoVW(30);
          
          &::before {
            border-right: convertPXtoVW(9) solid transparent;
            border-left: convertPXtoVW(9) solid transparent;
            border-top: convertPXtoVW(20) solid #fff179;
            bottom: convertPXtoVW(1);
          }
        }
        
        &__title {
          font-size: convertPXtoVW(60);
          
          b {
            font-size: convertPXtoVW(121);
          }
        }
        
        &__text {
          font-size: convertPXtoVW(42);
        }
      }
      
      &__list {
        margin-left: 0;
        flex-flow: column;
        align-items: flex-start;
        gap: convertPXtoVW(20);
        
        li {
          padding-left: convertPXtoVW(30);
          height: convertPXtoVW(133);
          justify-content: flex-start;
          
          &:nth-of-type(1) {
            margin-left: 0;
            width: convertPXtoVW(406);
            background: url("../img/mv-primary_list_bg01_sp.png") center center no-repeat;
            background-size: contain;
            
            .inner {
              padding-left: 0;
            }
          }
          
          &:nth-of-type(2) {
            margin-left: 0;
            width: convertPXtoVW(359);
            background: url("../img/mv-primary_list_bg02_sp.png") center center no-repeat;
            background-size: contain;
            
            .inner {
              padding-left: 0;
            }
          }
          
          p {
            font-size: convertPXtoVW(32);
            
            span {
              position: relative;
              
              &::before {
                width: 100%;
                height: convertPXtoVW(13);
                bottom: convertPXtoVW(2);
              }
            }
            
            b {
              font-size: convertPXtoVW(44);
              
              &.is-fz-lg {
                font-size: convertPXtoVW(54);
                margin-right: convertPXtoVW(4);
              }
            }
          }
        }
      }
      
      &__image {
        margin-right: convertPXtoVW(0);
        
        img {
          width: convertPXtoVW(371);
        }
      }
    }
    
    &-secondary {
      margin: 0;
      
      &__inner {
        padding: convertPXtoVW(54) 0 convertPXtoVW(35);
      }
      
      &-content {
        margin: 0 auto convertPXtoVW(77);
        width: convertPXtoVW(580);
        
        &__fukidashi {
          margin-bottom: convertPXtoVW(46);
          width: convertPXtoVW(445);
          height: convertPXtoVW(62);
          border-radius: convertPXtoVW(999);
          font-size: convertPXtoVW(30);
          
          &::before {
            border-right: convertPXtoVW(9) solid transparent;
            border-left: convertPXtoVW(9) solid transparent;
            border-top: convertPXtoVW(20) solid #fff179;
            bottom: convertPXtoVW(1);
          }
        }
        
        &__title {
          font-size: convertPXtoVW(42);
          
          b {
            font-size: convertPXtoVW(100);
            
            span {
              font-size: convertPXtoVW(80);
            }
          }
          
          > span {
            font-size: convertPXtoVW(60);
          }
        }
        
        &__text {
          font-size: convertPXtoVW(42);
        }
      }
      
      &__list {
        margin-left: 0;
        flex-flow: column;
        align-items: flex-start;
        gap: convertPXtoVW(40);
        
        li {
          padding-left: convertPXtoVW(30);
          height: convertPXtoVW(133);
          justify-content: flex-start;
          
          &:nth-of-type(1) {
            margin-left: 0;
            width: convertPXtoVW(343);
            background: url("../img/mv-primary_list_bg02_sp.png") center center no-repeat;
            background-size: contain;
            
            .inner {
              padding-left: 0;
            }
          }
          
          &:nth-of-type(2) {
            margin-left: 0;
            width: convertPXtoVW(399);
            background: url("../img/mv-primary_list_bg01_sp.png") center center no-repeat;
            background-size: contain;
            
            .inner {
              padding-left: 0;
            }
          }
          
          .label {
            display: block;
            width: convertPXtoVW(132);
            height: convertPXtoVW(26);
            font-size: convertPXtoVW(19);
            
            &::before {
              border-width: convertPXtoVW(26) 0 0 convertPXtoVW(10);
            }
          }
          
          p {
            font-size: convertPXtoVW(32);
            
            span {
              &::before {
                height: convertPXtoVW(13);
                bottom: convertPXtoVW(2);
              }
            }
            
            b {
              font-size: convertPXtoVW(44);
              
              &.is-fz-lg {
                font-size: convertPXtoVW(54);
                margin-right: convertPXtoVW(4);
              }
            }
          }
        }
      }
      
      &__image {
        width: convertPXtoVW(288);
        margin-right: 0;
        top: auto;
        bottom: 0;
        right: 0;
      }
    }
    
    &-tertiary {
      margin: auto 0;
      
      &__inner {
        padding: convertPXtoVW(38) 0 0;
        flex-flow: column;
        justify-content: center;
        gap: convertPXtoVW(26) 0;
      }
      
      &__image {
        max-width: convertPXtoVW(290);
      }
      
      &-content {
        max-width: 100%;
        position: relative;
        
        &__lead {
          font-size: convertPXtoVW(60);
        }
        
        &__wrapper {
          max-width: convertPXtoVW(562);
          margin: convertPXtoVW(-14) auto convertPXtoVW(4);
        }
        
        &__title {
          p {
            &:nth-of-type(1) {
              font-size: convertPXtoVW(55);
              
              b {
                font-size: convertPXtoVW(110);
              }
            }
            
            &:nth-of-type(2) {
              font-size: convertPXtoVW(44);
            }
          }
        }
        
        &__text {
          font-size: convertPXtoVW(184);
        }
        
        &__description {
          margin-bottom: convertPXtoVW(42);
          font-size: convertPXtoVW(21);
        }
        
        &__logo {
          max-width: 100%;
        }
      }
    }
  }
}