@use '../partials/functions';

.recruit {
  padding: minVWandPX(46) minVWandPX(50) minVWandPX(78);
  background: #dbf5fb;
  
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
  }
  
  &-list {
    display: flex;
    flex-flow: row wrap;
    gap: minVWandPX(31) minVWandPX(36);
    
    &-item {
      width: calc(50% - #{minVWandPX(36)} / 2);
      height: minVWandPX(253);
      background: url("../img/recruit_list-item_bg.png") center center no-repeat;
      background-size: cover;
      position: relative;
      
      &__content {
        width: minVWandPX(246);
        padding-top: minVWandPX(50);
        
        &-label {
          margin-bottom: minVWandPX(11);
          width: minVWandPX(263);
          height: minVWandPX(38);
          display: block;
          padding: minVWandPX(9) 0 minVWandPX(8) minVWandPX(29);
          background: url("../img/recruit_list-item_label.png") center center no-repeat;
          background-size: contain;
          color: #fff;
          font-size: minVWandPX(20);
          font-weight: 900;
          line-height: 1;
          letter-spacing: 0;
          position: relative;
          z-index: 1;
          
          span {
            color: #fff179;
          }
        }
        
        &-title {
          margin: 0 auto;
          display: block;
          width: fit-content;
          color: #00207d;
          font-size: minVWandPX(32);
          font-weight: 700;
          line-height: 1.24;
          letter-spacing: .05em;
          text-align: center;
          
          b {
            font-size: minVWandPX(40);
            font-weight: 900;
            line-height: 1;
          }
        }
      }
      
      &__image {
        width: minVWandPX(272);
        position: absolute;
        top: minVWandPX(-10);
        right: 0;
      }
    }
  }
}

@media screen and (min-width: $tablet + 1px) {
  .recruit {
    &-list {
      &-item {
        &:nth-child(3), &:nth-child(4) {
          background: url("../img/recruit_list-item_bg-reverse.png") center center no-repeat;
          background-size: contain;
          
          .recruit-list-item__content {
            margin: 0 0 0 auto;
            width: minVWandPX(256);
            
            &-label {
              padding: minVWandPX(9) minVWandPX(29) minVWandPX(8) 0;
              background: url("../img/recruit_list-item_label-reverse.png") center center no-repeat;
              background-size: contain;
              right: minVWandPX(6);
              text-align: right;
              letter-spacing: .05em;
            }
          }
          
          .recruit-list-item__image {
            right: auto;
            left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .recruit {
    padding: convertPXtoVW(73) 0 0;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      left:0;
      bottom: -1px;
      border-top: convertPXtoVW(60) solid transparent;
      border-left: 50vw solid transparent;
      border-right: 50vw solid #0e3583;
      border-bottom: convertPXtoVW(60) solid #0e3583;
    }
    
    &-list {
      flex-flow: column;
      gap: convertPXtoVW(31) convertPXtoVW(36);
      
      &-item {
        width: 100%;
        height: convertPXtoVW(316);
        background: url("../img/recruit_list-item_bg_sp.png") center center no-repeat;
        background-size: contain;
        
        &:nth-child(2), &:nth-child(4) {
          background: url("../img/recruit_list-item_bg-reverse_sp.png") center center no-repeat;
          background-size: contain;
          
          .recruit-list-item__content {
            margin-left: auto;
            margin-right: 0;
            
            &-label {
              width: convertPXtoVW(344);
              height: convertPXtoVW(47);
              font-size: convertPXtoVW(26);
              background: url("../img/recruit_list-item_label-reverse_sp.png") center center no-repeat;
              background-size: contain;
              letter-spacing: .05em;
              position: relative;
              right: convertPXtoVW(15);
            }
          }
          
          .recruit-list-item__image {
            left: 0;
            right: auto;
          }
        }
        
        &__content {
          width: convertPXtoVW(329);
          padding-top: convertPXtoVW(50);
          
          &-label {
            margin-bottom: convertPXtoVW(14);
            width: convertPXtoVW(329);
            height: convertPXtoVW(47);
            padding: convertPXtoVW(9) 0 convertPXtoVW(8);
            font-size: convertPXtoVW(26);
            background: url("../img/recruit_list-item_label_sp.png") center center no-repeat;
            background-size: contain;
            text-align: center;
          }
          
          &-title {
            font-size: convertPXtoVW(40);
            
            b {
              font-size: convertPXtoVW(50);
            }
          }
        }
        
        &__image {
          width: convertPXtoVW(340);
          top: convertPXtoVW(-10);
          right: 0;
        }
      }
    }
  }
}