@use '../partials/functions';

.success {
  padding: minVWandPX(101) minVWandPX(50) minVWandPX(108);
  background: #dbf5fb;
  overflow-x: hidden;
  
  &__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 890px;
  }
  
  .heading01 {
    margin-bottom: minVWandPX(101);
  }
  
  &-slider {
    overflow: visible;
    
    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        display: none;
      }
    }
    
    .swiper-pagination {
      display: none;
    }
  }
  
  &-list {
    &-item {
      background: #fff;
      border: minVWandPX(5) solid #123670;
      box-shadow: minVWandPX(2) minVWandPX(2) minVWandPX(10) rgba(0, 0, 0, .3);
      position: relative;
      
      &__title {
        width: minVWandPX(493);
        height: minVWandPX(80);
        background: #123670;
        border-radius: minVWandPX(999);
        color: #fff;
        font-size: minVWandPX(32);
        font-weight: 700;
        letter-spacing: .1em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      &__content {
        padding: minVWandPX(64) minVWandPX(32) minVWandPX(27);
        
        &-step {
          margin-bottom: minVWandPX(14);
          display: flex;
          flex-flow: row wrap;
          gap: 0 minVWandPX(8);
          
          li {
            width: calc(50% - #{minVWandPX(8)} / 2);
            height: minVWandPX(84);
            padding-left: minVWandPX(25);
            background: #dadada;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: 0 minVWandPX(9);
            position: relative;
            line-height: 1.2;
            
            &::before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-top: minVWandPX(42) solid transparent;
              border-bottom: minVWandPX(42) solid transparent;
              position: absolute;
              top: 50%;
            }
            
            &:nth-child(1) {
              &::before {
                border-left: minVWandPX(16) solid #dadada;
                border-right: 0;
                right: 0;
                transform: translate(100%, -50%);
                z-index: 1;
              }
            }
            
            &:nth-child(2) {
              padding-left: minVWandPX(33);
              background: #355da0;
              
              span {
                background: #fff179;
                color: #355da0;
              }
              
              p {
                color: #fff179;
              }
              
              &::before {
                border-left: minVWandPX(16) solid #fff;
                border-right: 0;
                left: 0;
                transform: translate(0, -50%);
              }
            }
          }
          
          span {
            width: minVWandPX(102);
            height: minVWandPX(33);
            background: #fff;
            border-radius: minVWandPX(999);
            font-size: minVWandPX(20);
            font-weight: 700;
            letter-spacing: .1em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
          }
          
          p {
            font-size: minVWandPX(24);
            font-weight: 700;
            letter-spacing: .05em;
          }
        }
        
        &-wrapper {
          max-width: minVWandPX(713);
          margin: 0 auto;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          gap: 0 minVWandPX(25);
          
          figure {
            width: minVWandPX(135);
          }
          
          p {
            width: calc(100% - #{minVWandPX(135)} - #{minVWandPX(25)});
            font-size: minVWandPX(22);
            font-weight: 400;
            letter-spacing: .05em;
            line-height: 1.72;
            
            span {
              display: block;
              font-size: minVWandPX(20);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet + 1) {
  .success {
    &-list {
      display: flex;
      flex-flow: column;
      gap: minVWandPX(68) 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  .success {
    padding: convertPXtoVW(80) convertPXtoVW(45);
    
    .heading01 {
      margin-bottom: convertPXtoVW(94);
    }
    
    &-slider {
      .swiper-button-next,
      .swiper-button-prev {
        margin: 0;
        width: convertPXtoVW(20);
        height: convertPXtoVW(39);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        
        &::after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          background: url('../img/success_slider-arrow.png') center center no-repeat;
          background-size: contain;
        }
      }
      
      .swiper-button-prev {
        left: convertPXtoVW(-32);
        right: auto;
        
        &::after {
          transform: scale(-1, -1);
        }
      }
      
      .swiper-button-next {
        right: convertPXtoVW(-32);
        left: auto;
        
      }
      
      .swiper-pagination {
        display: block;
        bottom: convertPXtoVW(-28);
        transform: translateY(100%);
        
        .swiper-pagination-bullet {
          margin: 0 convertPXtoVW(10);
          width: convertPXtoVW(14);
          height: convertPXtoVW(14);
          background: #c6c6c6;
          opacity: 1;
          
          &-active {
            background: #123670;
          }
        }
      }
    }
    
    &-list {
      &-item {
        border: convertPXtoVW(5) solid #123670;
        box-shadow: convertPXtoVW(2) convertPXtoVW(2) convertPXtoVW(10) rgba(0, 0, 0, .3);
        
        &:nth-child(3){
          .success-list-item__content-wrapper {
            margin-bottom: convertPXtoVW(18);
          }
        }
        
        &__title {
          width: convertPXtoVW(493);
          height: convertPXtoVW(90);
          border-radius: convertPXtoVW(999);
          font-size: convertPXtoVW(35);
        }
        
        &__content {
          padding: convertPXtoVW(78) convertPXtoVW(37) convertPXtoVW(43);
          
          &-step {
            margin-bottom: convertPXtoVW(37);
            gap: 0 convertPXtoVW(5);
            
            li {
              height: convertPXtoVW(144);
              padding-top: convertPXtoVW(21);
              padding-left: convertPXtoVW(12);
              flex-flow: column;
              align-items: flex-start;
              gap: convertPXtoVW(11) 0;
              
              &::before {
                border-top: convertPXtoVW(72) solid transparent;
                border-bottom: convertPXtoVW(72) solid transparent;
              }
              
              &:nth-child(1) {
                width: calc(50% - #{convertPXtoVW(5)} / 2 - #{convertPXtoVW(14)});
                
                &::before {
                  border-left: convertPXtoVW(16) solid #dadada;
                }
              }
              
              &:nth-child(2) {
                width: calc(50% - #{convertPXtoVW(5)} / 2 + #{convertPXtoVW(14)});
                padding-left: convertPXtoVW(26);
                
                &::before {
                  border-left: convertPXtoVW(16) solid #fff;
                }
              }
            }
            
            span {
              width: convertPXtoVW(112);
              height: convertPXtoVW(35);
              border-radius: convertPXtoVW(999);
              font-size: convertPXtoVW(22);
            }
            
            p {
              font-size: convertPXtoVW(26);
              white-space: nowrap;
            }
          }
          
          &-wrapper {
            max-width: 100%;
            gap: 0 convertPXtoVW(16);
            
            figure {
              width: convertPXtoVW(160);
            }
            
            p {
              width: calc(100% - #{convertPXtoVW(160)} - #{convertPXtoVW(16)});
              font-size: convertPXtoVW(22);;
              
              span {
                font-size: convertPXtoVW(20);
              }
            }
          }
        }
      }
    }
  }
}