/* Global Variable */

/* window size
----------------- */

$pc: 1100px;
$tablet: 768px;
$sp: 414px;

/* base style
----------------- */

$pcFontSize: 14px;
$spFontSize: 14px;
$FontWeight: 500;
$pcLineHeight: 1.5;
$spLineHeight: 1.5;
$pcLetterSpacing: .02em;
$spLetterSpacing: .02em;

/* Fonts */
$fontFamilyDefault: 'Noto Sans JP', 'Helvetica Neue', "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

/* Color */
$brand-color: #28aff1;
$brand-light-color: #bbe6fe;
$font-color: #444444;
$link-color: #fff;
$white: #fff;
$black: #050505;
$red: #e50012;
$red-light: #ff4949;
$green: #009944;
$green-light: #00dba6;
$lime-green: #73ff31;
$blue-light: #00a0e9;
$yellow: #fee50f;
$brown: #170b00;
$white1: #fff2d7;
$gray1: #273632;
$black10: #e1e1e1;
$black20: #2b2b2b;
$black80: #1f1f1f;
$black90: #191919;
$gray10: #d9d9d9;
$gray20: #c6c6c6;
$gray25: #ababab;
$gray30: #777;
$gray50: #808080;
$gray75: #4e4e4e;
