@use '../partials/functions';

.heading01 {
  margin-bottom: minVWandPX(71);
  color: #00207d;
  font-weight: 900;
  line-height: 1;
  letter-spacing: .15em;
  text-align: center;
  
  span {
    margin-bottom: minVWandPX(18);
    padding: 0 minVWandPX(12) minVWandPX(12);
    display: inline-block;
    font-size: minVWandPX(32);
    border-bottom: minVWandPX(5) solid #00207d;
  }
  
  b {
    display: inline-block;
    font-size: minVWandPX(55);
    font-weight: 900;
    letter-spacing: .08em;
  }
}

@media screen and (max-width: $tablet) {
  .heading01 {
    margin-bottom: convertPXtoVW(71);
    
    span {
      margin-bottom: convertPXtoVW(16);
      padding: 0 convertPXtoVW(12) convertPXtoVW(12);
      font-size: convertPXtoVW(32);
      border-bottom: convertPXtoVW(5) solid #00207d;
      white-space: nowrap;
    }
    
    b {
      font-size: convertPXtoVW(55);
    }
  }
}