@use '../partials/functions';

.hidden--md {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

.visible--md {
  display: none;
  @media screen and (max-width: $tablet) {
    display: block !important;
  }
}