@use '../partials/functions';

.cta {
  padding: minVWandPX(45) minVWandPX(50);
  background: #0e3583;
  
  &:last-child {
    padding-top: minVWandPX(68);
    padding-bottom: minVWandPX(68);
  }
  
  &-description {
    margin: 0 auto minVWandPX(33);
    max-width: minVWandPX(500);
    
    p {
      color: #fff;
      font-size: minVWandPX(25);
      font-weight: 700;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      letter-spacing: .05em;
      position: relative;
      
      &::before, &::after {
        content: '';
        display: block;
        width: minVWandPX(40);
        height: minVWandPX(78);
        background: url("../img/cta-item.png") center center no-repeat;
        background-size: contain;
        margin-right: minVWandPX(10);
        position: absolute;
        bottom: 0;
      }
      
      &::before {
        left: minVWandPX(-46);
      }
      
      &::after {
        right: minVWandPX(-46);
        transform: scale(-1, 1);
      }
      
      span {
        color: #fff179;
        font-size: minVWandPX(30);
      }
      
      img {
        margin-right: minVWandPX(4);
        max-width: minVWandPX(250);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .cta {
    padding: convertPXtoVW(60) convertPXtoVW(25);
    
    &:last-child {
      padding-top: convertPXtoVW(68);
      padding-bottom: convertPXtoVW(68);
    }
    
    &-description {
      margin: 0 auto convertPXtoVW(33);
      max-width: convertPXtoVW(380);
      
      p {
        font-size: convertPXtoVW(25);
        
        &::before, &::after {
          width: convertPXtoVW(40);
          height: convertPXtoVW(78);
          margin-right: convertPXtoVW(10);
        }
        
        &::before {
          left: convertPXtoVW(-26);
        }
        
        &::after {
          right: convertPXtoVW(-26);
        }
        
        span {
          font-size: convertPXtoVW(30);
        }
        
        img {
          margin-right: convertPXtoVW(4);
          max-width: convertPXtoVW(250);
        }
      }
    }
  }
  
}